.container-fluid {
  padding: 30px;
  background-color: #d8f3ff;
  margin: 0 !important;
}

nav {
  margin: 0 !important;
  padding: 0px !important;
}

.navbar-brand {
  font-size: calc(20px + 0.390625vw);
  padding-right: 2%;
  color: #ad8d76;
}

.nav-item {
  font-size: calc(16px + 0.390625vw);
  padding-right: 10%;
  color: #153c5b;
}

.nav-link {
  color: #153c5b;
}

.navbar {
  margin-bottom: 0 !important;
}

/* Navbar hover colour*/
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #a0acbd;
}

section {
  background-color: white;
}
#carouselPadding {
  margin: 0% 3% 0% 3%;
}
/*
2 pixel border around carousel images
*/
.carousel-inner {
  border: 2px solid #a0acbd;
}

/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
  width: 100%;
}

/* 
anchors are inline so you need ot make them block to go full width
*/
.carousel-item a {
  display: block;
  width: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.content {
  /* padding the footer adds 40 to footer height */
  padding-bottom: 140px;
}

#footer {
  bottom: 0;
  background: #d8f3ff;
  height: 100px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #153c5b;
  padding: 20px;
}

#designed-by {
  text-align: right;
  color: #153c5b;
}

.card-body {
  background-color: #bcd5e3;
  text-align: center;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.card-title {
  color: #ad8d76;
  font-weight: bolder;
}

.card-img {
  width: 100% !important;
  height: 250px !important;
  object-fit: cover;
}

.d-grid {
  display: inline-flex;
}
